{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>3rd-5th Guide</title>
    <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/JBAKAYw.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_design.css' %}">
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<!-- <body> -->

<body style="background-color: rgba(242, 243, 242);">




    <!-- First Top Bar  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="oral_health img-fluid" src="{% static 'images/oralhealth.png' %}" style="width: 330px;">

            </div>
            <div class="col-sm-6 ">

                <h3 style="color: rgb(89, 128, 73);">
                    Welcome to Total Tooth Truth!
                </h3>
            </div>
            <div class="col-sm-2">

                <h5 style="color: rgba(21, 61,20, 0.726)">Follow Us On</h5>
                <a href="https://twitter.com/oralhealthforum?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    target="_blank">
                    <img class="img-fluid" style="width: 35px;" src="https://i.imgur.com/0Ba5ahc.png">
                </a>

                <a href="https://www.facebook.com/TheOralHealthForum/" target="_blank">
                    <img class="img-fluid" style="width: 21px;" src="{% static 'images/facebok.png' %}">
                </a>
            </div>
        </div>

    </div>

    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navebar nav-fill nav-tabs collapse navbar-collapse" id="navbarNav">
            <li class="nav-item">
                <a class="nav-link active" href="/"
                    style="background-color: rgba(50, 98, 50, 0.452);  color: white;">Home</a>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-light active "
                    style="background-color: rgba(50, 98, 50, 0.452); " data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Education Guide
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/guide_k2">K-2nd Grade</a>
                    <a class="dropdown-item" href="/guide_35">3rd-5th grade</a>
                    <a class="dropdown-item" href="/guide_68">6th-8th grade</a>
                    <a class="dropdown-item" href="/guide_high">High School</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(50, 98, 50, 0.452); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Post
                    Tests</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/test_k2">Test for K-2nd Grade</a>
                    <a class="dropdown-item" href="/test_35">Test for 3rd-5th grade</a>
                    <a class="dropdown-item" href="/test_68">Test for 6th-8th grade</a>
                    <a class="dropdown-item" href="/test_high">Test for High School</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color:rgba(50, 98, 50, 0.452);"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Videos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/brushing">Brushing Demo</a>
                    <a class="dropdown-item" href="/flossing">Flossing Demo</a>
                    <a class="dropdown-item" href="/field_trip">Total Truth Truth Field Trip</a>
                </div>
                </liv>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(50, 98, 50, 0.452); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fun
                    Activities</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/fun_color">Coloring Sheets</a>
                    <a class="dropdown-item" href="/fun_video">Animated Videos</a>
                    <a class="dropdown-item" href="/fun_games">Games</a>
                    <a class="dropdown-item" href="/fun_experiments">Home Experiments</a>
                </div>
            <li class="nav-item">
                <a class="nav-link active" href="/contact_us"
                    style="background-color: rgba(50, 98, 50, 0.452); color: white;">Contact
                    Us</a>
            </li>
        </ul>
    </div>

    <!-- End First top bar  -->

    <!-- 2nd top bar -->

    </div>

    <ul class="nav navebar  navbar-light bg-light nav-tabs nav-fill nav-tabs">
        <li class="nav-item">
            <h2 style="color:rgba(66,119,66);"> 3rd-5th Education Guide</h2>
        </li>
    </ul>


    <!-- End 2nd top bar -->


    <div class="container mb-4" style="margin-top:30px">
        <h2 style="color:rgba(50, 98, 50, 0.452)">3rd-5th grade Presentation:</h2>
        <h3 style="color:rgba(47, 95, 47, 0.829)">Click To play video</h3>
        <a href="https://prezi.com/v/embed/23qwdtab5vbt/">
            <img src="https://i.imgur.com/lSA4v8R.png" style="width: auto;">
        </a>
        <br>
    </div>



    <!-- Footer -->

    <div class="jumbotron text-center" style="background-color:rgba(21, 61,20, 0.726);" style="margin-bottom:0">
        <div>
            <p style="color:white">A partner of : </p>
            <img class="img-fluid mb-3" src="https://i.imgur.com/gqjAvSd.png" style="width: 100pt">
            <br>
            <img class="img-fluid mb-1" src="{% static 'images/oral-health.png'%}" style="width: 250pt;">

            <p style="color:white; font-size:larger;">1100 West Cermak Road Suite #518</p>
            <p style="color:white; font-size: larger;">Chicago, Illinois, 60608</p>
        </div>

        <!-- End footer -->



</html>