{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Total Tooth Truth</title>
    <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/JBAKAYw.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_design.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167199351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167199351-1');
    </script>

</head>

<!-- <body> -->

<body style="background-color: rgb(242, 243, 242);">
    <!-- <style>
        body {
            background-image: url({% static 'images/blurred-green.jpg' %});
            background-size: cover;
        }
    </style> -->



    <!-- First Top Bar  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="oral_health img-fluid" src="https://i.imgur.com/iZXEn3P.png" style="width: 330px;">

            </div>
            <div class="col-sm-6 ">

                <h3 style="color: rgb(89, 128, 73);">
                    Welcome to Total Tooth Truth!
                </h3>
            </div>
            <div class="col-sm-2">

                <h5 style="color: rgba(21, 61,20, 0.726)">Follow Us On</h5>
                <a href="https://twitter.com/oralhealthforum?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    target="_blank">
                    <img class="img-fluid" style="width: 35px;" src="https://i.imgur.com/0Ba5ahc.png">
                </a>

                <a href="https://www.facebook.com/TheOralHealthForum/" target="_blank">
                    <img class="img-fluid" style="width: 21px;" src="https://i.imgur.com/n8SZcx7.png">
                </a>
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navebar nav-fill nav-tabs collapse navbar-collapse" id="navbarNav">

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-light active "
                    style="background-color: rgba(50, 98, 50, 0.452); " data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Education Guide
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/guide_k2">K-2nd Grade</a>
                    <a class="dropdown-item" href="/guide_35">3rd-5th grade</a>
                    <a class="dropdown-item" href="/guide_68">6th-8th grade</a>
                    <a class="dropdown-item" href="/guide_high">High School</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(50, 98, 50, 0.452); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Post
                    Tests</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/test_k2">Test for K-2nd Grade</a>
                    <a class="dropdown-item" href="/test_35">Test for 3rd-5th grade</a>
                    <a class="dropdown-item" href="/test_68">Test for 6th-8th grade</a>
                    <a class="dropdown-item" href="/test_high">Test for High School</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color:rgba(50, 98, 50, 0.452);"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Videos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/brushing">Brushing Demo</a>
                    <a class="dropdown-item" href="/flossing">Flossing Demo</a>
                    <a class="dropdown-item" href="/field_trip">Total Truth Truth Field Trip</a>
                </div>
                </liv>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(50, 98, 50, 0.452); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Fun
                    Activities</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/fun_color">Coloring Sheets</a>
                    <a class="dropdown-item" href="/fun_video">Animated Videos</a>
                    <a class="dropdown-item" href="/fun_games">Games</a>
                    <a class="dropdown-item" href="/fun_experiments">Home Experiments</a>
                </div>
            <li class="nav-item">
                <a class="nav-link active" href="/contact_us"
                    style="background-color: rgba(50, 98, 50, 0.452); color: white;">Contact
                    Us</a>
            </li>
        </ul>
    </div>



    <!-- End First top bar  -->


    <div class="jumbotron text-center"
        style="padding-bottom:0px; padding-top: 0px; background-color:  rgba(242, 243, 242, 0.952);">
        <!-- Carosel picture area  -->
        </ol>

        <!-- Roatating pictures -->

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>

            <div class="carousel-inner" style="background-image: url(https://i.imgur.com/XrnbZxt.png);">
                <div class="carousel-item active">
                    <img src="https://i.imgur.com/hSiWZr3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/Pb0ZoHl.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/Ap67fxf.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/TYLcWWf.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/A8yBdrt.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/2yMLKQ8.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.imgur.com/iNUJAx7.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- End Roatating picture area  -->

    </div>



    <!-- end carosel -->

    <!-- 2nd navbar  -->


    <ul class="nav navebar sticky-top navbar-light bg-light nav-tabs nav-fill nav-tabs">
        <li class="nav-item"><a class="nav-link"
                href="https://www.heartlandalliance.org/program/oral-health-forum/who-we-are/" target="_blank">Our
                Organization</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Additional Resources</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://www.heartlandalliance.org/total-tooth-truth/"
                    target="_blank">Total Tooth
                    Lesson Plans for Teachers
                </a>
            </div>
        </li>
    </ul>


    <!-- End 2nd navbar  -->

    <div class="container d-flex justify-content-around mb-3">
        <div class="row">
            <div class="col-sm">
                <h3 style="color: rgb(89, 128, 73);">The Oral Health Forum</h3>

                <div>
                    <img class="img-fluid d-block mb-4" src="https://i.imgur.com/k91Zdav.png" style="width: 467px;">
                </div>

                <div>
                    <p style="background: rgba(31, 80, 29, 0.2); width: 467px; padding: 12px;">
                        Public health
                        attention to oral health care remains
                        inadequate as evidenced by prevalence of dental caries and periodontal disease,
                        especially in low-income communities.
                        These common oral infections are almost completely preventable with education, effective
                        self-care, and timely access to professional oral health intervention.
                        <br>
                        <br>
                        The Oral Health Forum (OHF) works with
                        the public
                        health system, key oral health care providers and community leaders to coordinate,
                        expand, and improve existing oral health resources in health promotion, prevention, and
                        treatment.
                        <br> Find more information by clicking on Our Organization!
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <h3 style="color: rgba(89, 128, 73);">Education Guide</h3>
                <div>
                    <img class="img-fluid mb-4 d-block w-100" src="https://i.imgur.com/UyvbZmq.png"
                        style="width: 467px;">
                </div>
                <div>
                    <p style="background: rgba(31, 80, 29, 0.2); width: 467px; padding: 12px;">
                        The Oral Health Forum
                        has exciting news! We have created an online
                        platform for
                        schools and communities to access oral health education. These
                        presentations
                        are an informative and interactive way to learn oral health education!
                        <br>
                        <br>

                        If you are an educator or administrator,
                        we have many tools for you to utilize within your own programs, classrooms, and school.
                        If you would like to utilize the post tests options, we
                        have readily available materials through Google Forms.
                        <br>
                        <br>
                        Please click on the "Contact Us" for more
                        information about these
                        resources.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer  -->
    <div class="jumbotron text-center" style="background-color:rgba(21, 61,20, 0.726);" style="margin-bottom:0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p style="color:rgb(242, 243, 242);">Thank You to Our Funders:</p>
                    <img class="img-fluid mb-1 d-inline w-200 justify-content-start"
                        src="https://i.imgur.com/XUiRb7d.png" style="width: 160pt;">
                    <br>
                    <br>
                    <img class="img-fluid md-1 d-inline w-200 justify-content-start"
                        src="https://i.imgur.com/EVnlpVm.png" style="width: 250pt;">
                    <br>
                    <br>
                    <p class="d-block" style="color:white">A partner of : </p>
                    <img class="img-fluid mb-3" src="https://i.imgur.com/gqjAvSd.png" style="width: 130pt;">
                </div>
                <div class="col-sm-8">
                    <br>
                    <img class="img-fluid mb-1" src="https://i.imgur.com/O9q1ZU2.png" style="width: 350pt;">
                    <p style="color:white; font-size:larger;">1100 West Cermak Road Suite #518</p>
                    <p style="color:white; font-size: larger;">Chicago, Illinois, 60608</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>